params {
    config_profile_name        = 'elembio nfcore custom conf profile'
    config_profile_description = 'elembio nfcore custom conf profile'

    profiles {
        elembio_catalyst {
            includeConfig "${params.custom_config_base}/conf/elembio_catalyst.config"
        }
    }
    
    genomes {
        'GRCh37' {
            fasta       = "${params.igenomes_base}/Homo_sapiens/Ensembl/GRCh37/Sequence/WholeGenomeFasta/genome.fa"
            bwa         = "${params.igenomes_base}/Homo_sapiens/Ensembl/GRCh37/Sequence/BWAIndex/version0.6.0/"
            mito_name   = "MT"
            blacklist   = "${projectDir}/assets/blacklists/GRCh37-blacklist.bed"
        }
        'GRCh38' {
            fasta       = "${params.igenomes_base}/Homo_sapiens/NCBI/GRCh38/Sequence/WholeGenomeFasta/genome.fa"
            bwa         = "${params.igenomes_base}/Homo_sapiens/NCBI/GRCh38/Sequence/BWAIndex/version0.6.0/"
            mito_name   = "chrM"
            blacklist   = "${projectDir}/assets/blacklists/hg38-blacklist.bed"
        }
        'hg38' {
            fasta       = "${params.igenomes_base}/Homo_sapiens/UCSC/hg38/Sequence/WholeGenomeFasta/genome.fa"
            bwa         = "${params.igenomes_base}/Homo_sapiens/UCSC/hg38/Sequence/BWAIndex/version0.6.0/"
            mito_name   = "chrM"
            blacklist   = "${projectDir}/assets/blacklists/hg38-blacklist.bed"
        }
        'hg19' {
            fasta       = "${params.igenomes_base}/Homo_sapiens/UCSC/hg19/Sequence/WholeGenomeFasta/genome.fa"
            bwa         = "${params.igenomes_base}/Homo_sapiens/UCSC/hg19/Sequence/BWAIndex/version0.6.0/"
            mito_name   = "chrM"
            blacklist   = "${projectDir}/assets/blacklists/hg19-blacklist.bed"
        }
        'hg38_chr20' {
            fasta       = "${params.igenomes_base}/Homo_sapiens/elembio/hg38_chr20/fasta/hg38_chr20.fa"
            fasta_fai   = "${params.igenomes_base}/Homo_sapiens/elembio/hg38_chr20/fasta/hg38_chr20.fa.fai"
            fasta_dir   = "${params.igenomes_base}/Homo_sapiens/elembio/hg38_chr20/fasta/"
            genome_file = "${params.igenomes_base}/Homo_sapiens/elembio/hg38_chr20/fasta/hg38_chr20.fa.genome"
            chrom_sizes = "${params.igenomes_base}/Homo_sapiens/elembio/hg38_chr20/fasta/hg38_chr20.fa.chrom.sizes"
            genome_dict = "${params.igenomes_base}/Homo_sapiens/elembio/hg38_chr20/fasta/hg38_chr20.fa.dict"
            bwa         = "${params.igenomes_base}/Homo_sapiens/elembio/hg38_chr20/bwa_index/"
        }
        'Homo_sapiens_assembly38' {
            fasta       = "${params.igenomes_base}/Homo_sapiens/elembio/Homo_sapiens_assembly38/fasta/Homo_sapiens_assembly38.fa"
            fasta_fai   = "${params.igenomes_base}/Homo_sapiens/elembio/Homo_sapiens_assembly38/fasta/Homo_sapiens_assembly38.fa.fai"
            fasta_dir   = "${params.igenomes_base}/Homo_sapiens/elembio/Homo_sapiens_assembly38/fasta/"
            genome_file = "${params.igenomes_base}/Homo_sapiens/elembio/Homo_sapiens_assembly38/fasta/Homo_sapiens_assembly38.fa.genome"
            chrom_sizes = "${params.igenomes_base}/Homo_sapiens/elembio/Homo_sapiens_assembly38/fasta/Homo_sapiens_assembly38.fa.chrom.sizes"
            genome_dict = "${params.igenomes_base}/Homo_sapiens/elembio/Homo_sapiens_assembly38/fasta/Homo_sapiens_assembly38.fa.dict"
            bwa         = "${params.igenomes_base}/Homo_sapiens/elembio/Homo_sapiens_assembly38/bwa_index/"
        }
        'GRCh38_no_alt_analysis_set_maskedGRC_exclusions_v2' {
            fasta       = "${params.igenomes_base}/Homo_sapiens/elembio/GRCh38_no_alt_analysis_set_maskedGRC_exclusions_v2/fasta/GRCh38_no_alt_analysis_set_maskedGRC_exclusions_v2.fa"
            fasta_fai   = "${params.igenomes_base}/Homo_sapiens/elembio/GRCh38_no_alt_analysis_set_maskedGRC_exclusions_v2/fasta/GRCh38_no_alt_analysis_set_maskedGRC_exclusions_v2.fa.fai"
            fasta_dir   = "${params.igenomes_base}/Homo_sapiens/elembio/GRCh38_no_alt_analysis_set_maskedGRC_exclusions_v2/fasta/"
            genome_file = "${params.igenomes_base}/Homo_sapiens/elembio/GRCh38_no_alt_analysis_set_maskedGRC_exclusions_v2/fasta/GRCh38_no_alt_analysis_set_maskedGRC_exclusions_v2.fa.genome"
            chrom_sizes = "${params.igenomes_base}/Homo_sapiens/elembio/GRCh38_no_alt_analysis_set_maskedGRC_exclusions_v2/fasta/GRCh38_no_alt_analysis_set_maskedGRC_exclusions_v2.fa.chrom.sizes"
            genome_dict = "${params.igenomes_base}/Homo_sapiens/elembio/GRCh38_no_alt_analysis_set_maskedGRC_exclusions_v2/fasta/GRCh38_no_alt_analysis_set_maskedGRC_exclusions_v2.fa.dict"
            bwa         = "${params.igenomes_base}/Homo_sapiens/elembio/GRCh38_no_alt_analysis_set_maskedGRC_exclusions_v2/bwa_index/"
        }
    }
}

aws {
   batch {
      cliPath = '/home/ec2-user/miniconda/bin/aws'
      maxParallelTransfers = 10
      maxTransferAttempts = 3
   }
   client {
      maxConnections = 10
      uploadMaxThreads = 10
      maxErrorRetry = 3
      socketTimeout = 3600000
      uploadRetrySleep = 1000
      uploadChunkSize = 32.MB
   }
}
