profiles {
    elembio_catalyst { 
        includeConfig "${params.custom_config_base}/conf/elembio_catalyst.config"
    }
    macro_igenomes { 
        includeConfig "${params.custom_config_base}/conf/macro_igenomes.config"
    }
    bases2fastq_nf { 
        includeConfig "${params.custom_config_base}/pipeline/bases2fastq_nf.config"
    }
    sentieon_cli_nf { 
        includeConfig "${params.custom_config_base}/pipeline/sentieon_cli_nf.config"
    }
    parabricks_nextflow { 
        includeConfig "${params.custom_config_base}/pipeline/parabricks_nextflow.config"
    }
}