/*
 * cells2stats-nf pipeline-specific profiles
 */

profiles {
    ElembioCloud {
        params {
            config_profile_name        = 'ElembioCloud'
            config_profile_description = 'Elembio Cloud AVITI24 cytoprofiling flowcell spec'

            max_cpus   = 48
            max_memory = '192.GB'
            max_time   = '8.h'
        }

        process {
            withName: 'CELLS2STATS' {
                cpus = {
                    def cpu_list = [48, 24, 12]
                    return task.attempt <= cpu_list.size() ? cpu_list[task.attempt - 1] : 12
                }
                memory     = { check_max(180.GB, 'memory') }
                time       = { check_max( 2.h * task.attempt, 'time') }
                maxRetries = 4
            }
        }

        cleanup = true

        aws {
            batch {
                cliPath             = '/home/ec2-user/miniconda/bin/aws'
                maxParallelTransfers = 16
                maxTransferAttempts  = 6
            }
            client {
                maxConnections   = 16
                uploadMaxThreads = 16
                maxErrorRetry    = 8
                uploadRetrySleep = 200
                uploadChunkSize  = 32.MB
            }
            region = "us-west-2"
        }
    }
}
