process {
    withName: AGGREGATE_F2P_METRICS {
        queue = { task.attempt > 2 ? 'ebc-ondemand-cpu' : 'ebc-spot-cpu' }
    }
    withName: BAM_TO_PARQUET {
        queue = 'ebc-ondemand-cpu'
    }
    withName: BASES2FASTQ {
        queue = 'ebc-ondemand-cpu'
    }
    withName: BUILD_SPATIALDATA {
        queue = { task.attempt > 2 ? 'ebc-ondemand-cpu' : 'ebc-spot-cpu' }
    }
    withName: CATEGORIZE_READ_ASSIGNMENTS {
        queue = { task.attempt > 2 ? 'ebc-ondemand-cpu' : 'ebc-spot-cpu' }
    }
    withName: CELLS2STATS {
        queue = 'ebc-ondemand-cpu'
    }
    withName: COLLECT_SAMPLE_METRICS {
        queue = { task.attempt > 2 ? 'ebc-ondemand-cpu' : 'ebc-spot-cpu' }
    }
    withName: FASTQC {
        queue = { task.attempt > 2 ? 'ebc-ondemand-cpu' : 'ebc-spot-cpu' }
    }
    withName: FEATURECOUNTS_BAM {
        queue = { task.attempt > 2 ? 'ebc-ondemand-cpu' : 'ebc-spot-cpu' }
    }
    withName: GENERATE_FEATURE_BED {
        queue = { task.attempt > 2 ? 'ebc-ondemand-cpu' : 'ebc-spot-cpu' }
    }
    withName: GENERATE_PRIMARY_TARGETS {
        queue = { task.attempt > 2 ? 'ebc-ondemand-cpu' : 'ebc-spot-cpu' }
    }
    withName: GTF_PREPROCESSING {
        queue = { task.attempt > 2 ? 'ebc-ondemand-cpu' : 'ebc-spot-cpu' }
    }
    withName: MULTIQC {
        queue = { task.attempt > 2 ? 'ebc-ondemand-cpu' : 'ebc-spot-cpu' }
    }
    withName: PICARD_HS_METRICS_ONTARGET {
        queue = { task.attempt > 2 ? 'ebc-ondemand-cpu' : 'ebc-spot-cpu' }
    }
    withName: PICARD_HS_METRICS_TARGETS {
        queue = { task.attempt > 2 ? 'ebc-ondemand-cpu' : 'ebc-spot-cpu' }
    }
    withName: PROCESS_READ_ASSIGNMENTS {
        queue = { task.attempt > 2 ? 'ebc-ondemand-cpu' : 'ebc-spot-cpu' }
    }
    withName: SAMTOOLS_SORT_CELL {
        queue = { task.attempt > 2 ? 'ebc-ondemand-cpu' : 'ebc-spot-cpu' }
    }
    withName: SAMTOOLS_SORT_POS {
        queue = { task.attempt > 2 ? 'ebc-ondemand-cpu' : 'ebc-spot-cpu' }
    }
    withName: SAMTOOLS_STATS {
        queue = { task.attempt > 2 ? 'ebc-ondemand-cpu' : 'ebc-spot-cpu' }
    }
    withName: STAR_ALIGN {
        queue = 'ebc-ondemand-cpu'
    }
    withName: TAG_CELL_BAM {
        queue = { task.attempt > 2 ? 'ebc-ondemand-cpu' : 'ebc-spot-cpu' }
    }
}
