/*
========================================================================================
    Nextflow config file for iGenomes paths
========================================================================================
    Defines reference genomes using iGenome paths.
    Can be used by any config that customises the base path using:
        $params.igenomes_base / --igenomes_base
----------------------------------------------------------------------------------------
*/

params {
    genomes {
        'hg19' {
            fasta       = "${params.igenomes_base}/hg19/fasta/hg19.fa"
            fasta_fai   = "${params.igenomes_base}/hg19/fasta/hg19.fa.fai"
            fasta_dir   = "${params.igenomes_base}/hg19/fasta/"
            genome_file = "${params.igenomes_base}/hg19/fasta/hg19.fa.genome"
            chrom_sizes = "${params.igenomes_base}/hg19/fasta/hg19.fa.chrom.sizes"
            genome_dict = "${params.igenomes_base}/hg19/fasta/hg19.fa.dict"
            bwa         = "${params.igenomes_base}/hg19/bwa_index/"
        }
        'GRCh37' {
            fasta       = "${params.igenomes_base}/GRCh37/fasta/GRCh37.fa"
            fasta_fai   = "${params.igenomes_base}/GRCh37/fasta/GRCh37.fa.fai"
            fasta_dir   = "${params.igenomes_base}/GRCh37/fasta/"
            genome_file = "${params.igenomes_base}/GRCh37/fasta/GRCh37.fa.genome"
            chrom_sizes = "${params.igenomes_base}/GRCh37/fasta/GRCh37.fa.chrom.sizes"
            genome_dict = "${params.igenomes_base}/GRCh37/fasta/GRCh37.fa.dict"
            bwa         = "${params.igenomes_base}/GRCh37/bwa_index/"
        }
        'Homo_sapiens_assembly38' {
            fasta       = "${params.igenomes_base}/Homo_sapiens_assembly38/fasta/Homo_sapiens_assembly38.fa"
            fasta_fai   = "${params.igenomes_base}/Homo_sapiens_assembly38/fasta/Homo_sapiens_assembly38.fa.fai"
            fasta_dir   = "${params.igenomes_base}/Homo_sapiens_assembly38/fasta/"
            genome_file = "${params.igenomes_base}/Homo_sapiens_assembly38/fasta/Homo_sapiens_assembly38.fa.genome"
            chrom_sizes = "${params.igenomes_base}/Homo_sapiens_assembly38/fasta/Homo_sapiens_assembly38.fa.chrom.sizes"
            genome_dict = "${params.igenomes_base}/Homo_sapiens_assembly38/fasta/Homo_sapiens_assembly38.fa.dict"
            bwa         = "${params.igenomes_base}/Homo_sapiens_assembly38/bwa_index/"
        }
        'GRCh38_no_alt_analysis_set_maskedGRC_exclusions_v2' {
            fasta       = "${params.igenomes_base}/GRCh38_no_alt_analysis_set_maskedGRC_exclusions_v2/fasta/GRCh38_no_alt_analysis_set_maskedGRC_exclusions_v2.fa"
            fasta_fai   = "${params.igenomes_base}/GRCh38_no_alt_analysis_set_maskedGRC_exclusions_v2/fasta/GRCh38_no_alt_analysis_set_maskedGRC_exclusions_v2.fa.fai"
            fasta_dir   = "${params.igenomes_base}/GRCh38_no_alt_analysis_set_maskedGRC_exclusions_v2/fasta/"
            genome_file = "${params.igenomes_base}/GRCh38_no_alt_analysis_set_maskedGRC_exclusions_v2/fasta/GRCh38_no_alt_analysis_set_maskedGRC_exclusions_v2.fa.genome"
            chrom_sizes = "${params.igenomes_base}/GRCh38_no_alt_analysis_set_maskedGRC_exclusions_v2/fasta/GRCh38_no_alt_analysis_set_maskedGRC_exclusions_v2.fa.chrom.sizes"
            genome_dict = "${params.igenomes_base}/GRCh38_no_alt_analysis_set_maskedGRC_exclusions_v2/fasta/GRCh38_no_alt_analysis_set_maskedGRC_exclusions_v2.fa.dict"
            bwa         = "${params.igenomes_base}/GRCh38_no_alt_analysis_set_maskedGRC_exclusions_v2/bwa_index/"
        }
        'GRCh38_GIABv3_no_alt_analysis_set_maskedGRC_decoys_MAP2K3_KMT2C_KCNJ18' {
            fasta       = "${params.igenomes_base}/GRCh38_GIABv3_no_alt_analysis_set_maskedGRC_decoys_MAP2K3_KMT2C_KCNJ18/fasta/GRCh38_GIABv3_no_alt_analysis_set_maskedGRC_decoys_MAP2K3_KMT2C_KCNJ18.fa"
            fasta_fai   = "${params.igenomes_base}/GRCh38_GIABv3_no_alt_analysis_set_maskedGRC_decoys_MAP2K3_KMT2C_KCNJ18/fasta/GRCh38_GIABv3_no_alt_analysis_set_maskedGRC_decoys_MAP2K3_KMT2C_KCNJ18.fa.fai"
            fasta_dir   = "${params.igenomes_base}/GRCh38_GIABv3_no_alt_analysis_set_maskedGRC_decoys_MAP2K3_KMT2C_KCNJ18/fasta/"
            genome_file = "${params.igenomes_base}/GRCh38_GIABv3_no_alt_analysis_set_maskedGRC_decoys_MAP2K3_KMT2C_KCNJ18/fasta/GRCh38_GIABv3_no_alt_analysis_set_maskedGRC_decoys_MAP2K3_KMT2C_KCNJ18.fa.genome"
            chrom_sizes = "${params.igenomes_base}/GRCh38_GIABv3_no_alt_analysis_set_maskedGRC_decoys_MAP2K3_KMT2C_KCNJ18/fasta/GRCh38_GIABv3_no_alt_analysis_set_maskedGRC_decoys_MAP2K3_KMT2C_KCNJ18.fa.chrom.sizes"
            genome_dict = "${params.igenomes_base}/GRCh38_GIABv3_no_alt_analysis_set_maskedGRC_decoys_MAP2K3_KMT2C_KCNJ18/fasta/GRCh38_GIABv3_no_alt_analysis_set_maskedGRC_decoys_MAP2K3_KMT2C_KCNJ18.fa.dict"
            bwa         = "${params.igenomes_base}/GRCh38_GIABv3_no_alt_analysis_set_maskedGRC_decoys_MAP2K3_KMT2C_KCNJ18/bwa_index/"
        }
        'chm13v2.0' {
            fasta       = "${params.igenomes_base}/chm13v2.0/fasta/chm13v2.0.fa"
            fasta_fai   = "${params.igenomes_base}/chm13v2.0/fasta/chm13v2.0.fa.fai"
            fasta_dir   = "${params.igenomes_base}/chm13v2.0/fasta/"
            genome_file = "${params.igenomes_base}/chm13v2.0/fasta/chm13v2.0.fa.genome"
            chrom_sizes = "${params.igenomes_base}/chm13v2.0/fasta/chm13v2.0.fa.chrom.sizes"
            genome_dict = "${params.igenomes_base}/chm13v2.0/fasta/chm13v2.0.fa.dict"
            bwa         = "${params.igenomes_base}/chm13v2.0/bwa_index/"
        }
        'hg38_chr20' {
            fasta       = "${params.igenomes_base}/hg38_chr20/fasta/hg38_chr20.fa"
            fasta_fai   = "${params.igenomes_base}/hg38_chr20/fasta/hg38_chr20.fa.fai"
            fasta_dir   = "${params.igenomes_base}/hg38_chr20/fasta/"
            genome_file = "${params.igenomes_base}/hg38_chr20/fasta/hg38_chr20.fa.genome"
            chrom_sizes = "${params.igenomes_base}/hg38_chr20/fasta/hg38_chr20.fa.chrom.sizes"
            genome_dict = "${params.igenomes_base}/hg38_chr20/fasta/hg38_chr20.fa.dict"
            bwa         = "${params.igenomes_base}/hg38_chr20/bwa_index/"
        }
        'zymo-biomics-microbial-10bug' {
            fasta       = "${params.igenomes_base}/zymo-biomics-microbial-10bug/fasta/zymo-biomics-microbial-10bug.fa"
            fasta_fai   = "${params.igenomes_base}/zymo-biomics-microbial-10bug/fasta/zymo-biomics-microbial-10bug.fa.fai"
            fasta_dir   = "${params.igenomes_base}/zymo-biomics-microbial-10bug/fasta/"
            genome_file = "${params.igenomes_base}/zymo-biomics-microbial-10bug/fasta/zymo-biomics-microbial-10bug.fa.genome"
            chrom_sizes = "${params.igenomes_base}/zymo-biomics-microbial-10bug/fasta/zymo-biomics-microbial-10bug.fa.chrom.sizes"
            genome_dict = "${params.igenomes_base}/zymo-biomics-microbial-10bug/fasta/zymo-biomics-microbial-10bug.fa.dict"
            bwa         = "${params.igenomes_base}/zymo-biomics-microbial-10bug/bwa_index/"
        }
        'ATCC-MSA-1000-10bug' {
            fasta       = "${params.igenomes_base}/ATCC-MSA-1000-10bug/fasta/ATCC-MSA-1000-10bug.fa"
            fasta_fai   = "${params.igenomes_base}/ATCC-MSA-1000-10bug/fasta/ATCC-MSA-1000-10bug.fa.fai"
            fasta_dir   = "${params.igenomes_base}/ATCC-MSA-1000-10bug/fasta/"
            genome_file = "${params.igenomes_base}/ATCC-MSA-1000-10bug/fasta/ATCC-MSA-1000-10bug.fa.genome"
            chrom_sizes = "${params.igenomes_base}/ATCC-MSA-1000-10bug/fasta/ATCC-MSA-1000-10bug.fa.chrom.sizes"
            genome_dict = "${params.igenomes_base}/ATCC-MSA-1000-10bug/fasta/ATCC-MSA-1000-10bug.fa.dict"
            bwa         = "${params.igenomes_base}/ATCC-MSA-1000-10bug/bwa_index/"
        }
        'Rhodopseudomonas_palustris_ATCC_BAA_1123' {
            fasta       = "${params.igenomes_base}/Rhodopseudomonas_palustris_ATCC_BAA_1123/fasta/Rhodopseudomonas_palustris_ATCC_BAA_1123.fa"
            fasta_fai   = "${params.igenomes_base}/Rhodopseudomonas_palustris_ATCC_BAA_1123/fasta/Rhodopseudomonas_palustris_ATCC_BAA_1123.fa.fai"
            fasta_dir   = "${params.igenomes_base}/Rhodopseudomonas_palustris_ATCC_BAA_1123/fasta/"
            genome_file = "${params.igenomes_base}/Rhodopseudomonas_palustris_ATCC_BAA_1123/fasta/Rhodopseudomonas_palustris_ATCC_BAA_1123.fa.genome"
            chrom_sizes = "${params.igenomes_base}/Rhodopseudomonas_palustris_ATCC_BAA_1123/fasta/Rhodopseudomonas_palustris_ATCC_BAA_1123.fa.chrom.sizes"
            genome_dict = "${params.igenomes_base}/Rhodopseudomonas_palustris_ATCC_BAA_1123/fasta/Rhodopseudomonas_palustris_ATCC_BAA_1123.fa.dict"
            bwa         = "${params.igenomes_base}/Rhodopseudomonas_palustris_ATCC_BAA_1123/bwa_index/"
        }
        'ecoli_ATCC_11303' {
            fasta       = "${params.igenomes_base}/ecoli_ATCC_11303/fasta/ecoli_ATCC_11303.fa"
            fasta_fai   = "${params.igenomes_base}/ecoli_ATCC_11303/fasta/ecoli_ATCC_11303.fa.fai"
            fasta_dir   = "${params.igenomes_base}/ecoli_ATCC_11303/fasta/"
            genome_file = "${params.igenomes_base}/ecoli_ATCC_11303/fasta/ecoli_ATCC_11303.fa.genome"
            chrom_sizes = "${params.igenomes_base}/ecoli_ATCC_11303/fasta/ecoli_ATCC_11303.fa.chrom.sizes"
            genome_dict = "${params.igenomes_base}/ecoli_ATCC_11303/fasta/ecoli_ATCC_11303.fa.dict"
            bwa         = "${params.igenomes_base}/ecoli_ATCC_11303/bwa_index/"
        }
        'Haemophilus_influenzae_ATCC_51907' {
            fasta       = "${params.igenomes_base}/Haemophilus_influenzae_ATCC_51907/fasta/Haemophilus_influenzae_ATCC_51907.fa"
            fasta_fai   = "${params.igenomes_base}/Haemophilus_influenzae_ATCC_51907/fasta/Haemophilus_influenzae_ATCC_51907.fa.fai"
            fasta_dir   = "${params.igenomes_base}/Haemophilus_influenzae_ATCC_51907/fasta/"
            genome_file = "${params.igenomes_base}/Haemophilus_influenzae_ATCC_51907/fasta/Haemophilus_influenzae_ATCC_51907.fa.genome"
            chrom_sizes = "${params.igenomes_base}/Haemophilus_influenzae_ATCC_51907/fasta/Haemophilus_influenzae_ATCC_51907.fa.chrom.sizes"
            genome_dict = "${params.igenomes_base}/Haemophilus_influenzae_ATCC_51907/fasta/Haemophilus_influenzae_ATCC_51907.fa.dict"
            bwa         = "${params.igenomes_base}/Haemophilus_influenzae_ATCC_51907/bwa_index/"
        }
        'Clostridioides_difficile_ATCC_BAA_1382' {
            fasta       = "${params.igenomes_base}/Clostridioides_difficile_ATCC_BAA_1382/fasta/Clostridioides_difficile_ATCC_BAA_1382.fa"
            fasta_fai   = "${params.igenomes_base}/Clostridioides_difficile_ATCC_BAA_1382/fasta/Clostridioides_difficile_ATCC_BAA_1382.fa.fai"
            fasta_dir   = "${params.igenomes_base}/Clostridioides_difficile_ATCC_BAA_1382/fasta/"
            genome_file = "${params.igenomes_base}/Clostridioides_difficile_ATCC_BAA_1382/fasta/Clostridioides_difficile_ATCC_BAA_1382.fa.genome"
            chrom_sizes = "${params.igenomes_base}/Clostridioides_difficile_ATCC_BAA_1382/fasta/Clostridioides_difficile_ATCC_BAA_1382.fa.chrom.sizes"
            genome_dict = "${params.igenomes_base}/Clostridioides_difficile_ATCC_BAA_1382/fasta/Clostridioides_difficile_ATCC_BAA_1382.fa.dict"
            bwa         = "${params.igenomes_base}/Clostridioides_difficile_ATCC_BAA_1382/bwa_index/"
        }
        'Bordetella_pertussis_ATCC_BAA_589' {
            fasta       = "${params.igenomes_base}/Bordetella_pertussis_ATCC_BAA_589/fasta/Bordetella_pertussis_ATCC_BAA_589.fa"
            fasta_fai   = "${params.igenomes_base}/Bordetella_pertussis_ATCC_BAA_589/fasta/Bordetella_pertussis_ATCC_BAA_589.fa.fai"
            fasta_dir   = "${params.igenomes_base}/Bordetella_pertussis_ATCC_BAA_589/fasta/"
            genome_file = "${params.igenomes_base}/Bordetella_pertussis_ATCC_BAA_589/fasta/Bordetella_pertussis_ATCC_BAA_589.fa.genome"
            chrom_sizes = "${params.igenomes_base}/Bordetella_pertussis_ATCC_BAA_589/fasta/Bordetella_pertussis_ATCC_BAA_589.fa.chrom.sizes"
            genome_dict = "${params.igenomes_base}/Bordetella_pertussis_ATCC_BAA_589/fasta/Bordetella_pertussis_ATCC_BAA_589.fa.dict"
            bwa         = "${params.igenomes_base}/Bordetella_pertussis_ATCC_BAA_589/bwa_index/"
        }
        'ecoli_ATCC_700926' {
            fasta       = "${params.igenomes_base}/ecoli_ATCC_700926/fasta/ecoli_ATCC_700926.fa"
            fasta_fai   = "${params.igenomes_base}/ecoli_ATCC_700926/fasta/ecoli_ATCC_700926.fa.fai"
            fasta_dir   = "${params.igenomes_base}/ecoli_ATCC_700926/fasta/"
            genome_file = "${params.igenomes_base}/ecoli_ATCC_700926/fasta/ecoli_ATCC_700926.fa.genome"
            chrom_sizes = "${params.igenomes_base}/ecoli_ATCC_700926/fasta/ecoli_ATCC_700926.fa.chrom.sizes"
            genome_dict = "${params.igenomes_base}/ecoli_ATCC_700926/fasta/ecoli_ATCC_700926.fa.dict"
            bwa         = "${params.igenomes_base}/ecoli_ATCC_700926/bwa_index/"
        }
        'Plasmodium_falciparum_ASM276v2' {
            fasta       = "${params.igenomes_base}/Plasmodium_falciparum_ASM276v2/fasta/Plasmodium_falciparum_ASM276v2.fa"
            fasta_fai   = "${params.igenomes_base}/Plasmodium_falciparum_ASM276v2/fasta/Plasmodium_falciparum_ASM276v2.fa.fai"
            fasta_dir   = "${params.igenomes_base}/Plasmodium_falciparum_ASM276v2/fasta/"
            genome_file = "${params.igenomes_base}/Plasmodium_falciparum_ASM276v2/fasta/Plasmodium_falciparum_ASM276v2.fa.genome"
            chrom_sizes = "${params.igenomes_base}/Plasmodium_falciparum_ASM276v2/fasta/Plasmodium_falciparum_ASM276v2.fa.chrom.sizes"
            genome_dict = "${params.igenomes_base}/Plasmodium_falciparum_ASM276v2/fasta/Plasmodium_falciparum_ASM276v2.fa.dict"
            bwa         = "${params.igenomes_base}/Plasmodium_falciparum_ASM276v2/bwa_index/"
        }
        'Zm-B73' {
            fasta       = "${params.igenomes_base}/Zm-B73/fasta/GCF_902167145.1_Zm-B73-REFERENCE-NAM-5.0_genomic.fa"
            fasta_fai   = "${params.igenomes_base}/Zm-B73/fasta/GCF_902167145.1_Zm-B73-REFERENCE-NAM-5.0_genomic.fa.fai"
            fasta_dir   = "${params.igenomes_base}/Zm-B73/fasta/"
            genome_file = "${params.igenomes_base}/Zm-B73/fasta/GCF_902167145.1_Zm-B73-REFERENCE-NAM-5.0_genomic.fa.genome"
            chrom_sizes = "${params.igenomes_base}/Zm-B73/fasta/GCF_902167145.1_Zm-B73-REFERENCE-NAM-5.0_genomic.fa.chrom.sizes"
            genome_dict = "${params.igenomes_base}/Zm-B73/fasta/GCF_902167145.1_Zm-B73-REFERENCE-NAM-5.0_genomic.fa.dict"
            bwa         = "${params.igenomes_base}/Zm-B73/bwa_index/"
        }
        'Zm-Mo17' {
            fasta       = "${params.igenomes_base}/Zm-Mo17/fasta/GCA_003185045.1_Zm-Mo17-REFERENCE-CAU-1.0_genomic.fa"
            fasta_fai   = "${params.igenomes_base}/Zm-Mo17/fasta/GCA_003185045.1_Zm-Mo17-REFERENCE-CAU-1.0_genomic.fa.fai"
            fasta_dir   = "${params.igenomes_base}/Zm-Mo17/fasta/"
            genome_file = "${params.igenomes_base}/Zm-Mo17/fasta/GCA_003185045.1_Zm-Mo17-REFERENCE-CAU-1.0_genomic.fa.genome"
            chrom_sizes = "${params.igenomes_base}/Zm-Mo17/fasta/GCA_003185045.1_Zm-Mo17-REFERENCE-CAU-1.0_genomic.fa.chrom.sizes"
            genome_dict = "${params.igenomes_base}/Zm-Mo17/fasta/GCA_003185045.1_Zm-Mo17-REFERENCE-CAU-1.0_genomic.fa.dict"
            bwa         = "${params.igenomes_base}/Zm-Mo17/bwa_index/"
        }
        'arahy.Tifrunner.gnm2.J5K5' {
            fasta       = "${params.igenomes_base}/arahy.Tifrunner.gnm2.J5K5/fasta/arahy.Tifrunner.gnm2.J5K5.fa"
            fasta_fai   = "${params.igenomes_base}/arahy.Tifrunner.gnm2.J5K5/fasta/arahy.Tifrunner.gnm2.J5K5.fa.fai"
            fasta_dir   = "${params.igenomes_base}/arahy.Tifrunner.gnm2.J5K5/fasta/"
            genome_file = "${params.igenomes_base}/arahy.Tifrunner.gnm2.J5K5/fasta/arahy.Tifrunner.gnm2.J5K5.fa.genome"
            chrom_sizes = "${params.igenomes_base}/arahy.Tifrunner.gnm2.J5K5/fasta/arahy.Tifrunner.gnm2.J5K5.fa.chrom.sizes"
            genome_dict = "${params.igenomes_base}/arahy.Tifrunner.gnm2.J5K5/fasta/arahy.Tifrunner.gnm2.J5K5.fa.dict"
            bwa         = "${params.igenomes_base}/arahy.Tifrunner.gnm2.J5K5/bwa_index/"
        }
        'UU_Cfam_GSD_1.0_ROSY' {
            fasta       = "${params.igenomes_base}/UU_Cfam_GSD_1.0_ROSY/fasta/UU_Cfam_GSD_1.0_ROSY.fa"
            fasta_fai   = "${params.igenomes_base}/UU_Cfam_GSD_1.0_ROSY/fasta/UU_Cfam_GSD_1.0_ROSY.fa.fai"
            fasta_dir   = "${params.igenomes_base}/UU_Cfam_GSD_1.0_ROSY/fasta/"
            genome_file = "${params.igenomes_base}/UU_Cfam_GSD_1.0_ROSY/fasta/UU_Cfam_GSD_1.0_ROSY.fa.genome"
            chrom_sizes = "${params.igenomes_base}/UU_Cfam_GSD_1.0_ROSY/fasta/UU_Cfam_GSD_1.0_ROSY.fa.chrom.sizes"
            genome_dict = "${params.igenomes_base}/UU_Cfam_GSD_1.0_ROSY/fasta/UU_Cfam_GSD_1.0_ROSY.fa.dict"
            bwa         = "${params.igenomes_base}/UU_Cfam_GSD_1.0_ROSY/bwa_index/"
        }
    }
}
