process {
    withName: PARABRICKS_FQ2BAM {
        queue = 'ebc-ondemand-gpu'
    }
    withName: PARABRICKS_DEEPVARIANT {
        queue = 'ebc-ondemand-gpu'
    }
    withName: TABIX_BGZIPTABIX {
        queue = 'ebc-spot-cpu'
    }
    withName: MULTIQC {
        queue = 'ebc-spot-cpu'
    }


}
